
.vs/alphaxcore/v16/.suo

.vs/alphaxcore/v16/Browse.VC.db

.vs/alphaxcore/v16/Browse.VC.db-shm

.vs/alphaxcore/v16/Browse.VC.db-wal

.vs/alphaxcore/v16/Browse.VC.opendb

.vs/CMake Overview

.vs/ProjectSettings.json

.vs/slnx.sqlite
